body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #f0f0f0;
}

a {
    color: inherit;
    text-decoration: none;
}

.nav-bar {
    background-color: #242424;
    height: 60px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
    line-height: 60px;
    color: white;
}

.nav-title {
    float: left;
    height: 100%;
    padding: 0 20px;
    font-size: x-large;
    font-weight: 300;
}

.nav-link {
    float: left;
    height: 100%;
    padding: 0 20px;
}

.right {
    float: right;
}

.nav-link.active {
    background-color: #484848;
}

.nav-link:hover {
    background-color: #484848;
}
