body {
    color: #242424;
}

.main {
    margin: 5% auto;
    width: max-content;
    padding: 4%;
    text-align: center;
    background-color: white;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
    border-radius: 3px;
}

table {
    margin: auto auto 10%;
}

th {
    padding: 10px;
    text-align: right;
}

td {
    padding: 10px;
}

textarea {
    width: 300px;
    height: 100px;
    resize: none;
    overflow-y: scroll;
}

.card, .tiers {
    padding: 4%;
    text-align: center;
    background-color: grey;
    min-width: 400px;
    width: 20%;
    margin: 5% auto auto;
}

.button {
    padding: 10px 20px;
    background-color: #242424;
    border: none;
    color: white;
}

.button:hover {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
}
