<!DOCTYPE html>
{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Wallet</title>

    <link rel="icon" href="{% static "favicon.ico" %}"/>
    <link href="{% static "navbar.css" %}" rel="stylesheet">
    <link href="{% static "style.css" %}" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap" rel="stylesheet">
</head>

<body>
<div class="nav-bar">
    <span class="nav-title">Wallet</span>
    {% if login %}
        <a class="nav-link {% if patch == "index" %}active{% endif %}" href="{% url "index" %}">My wallet</a>
        <a class="nav-link {% if patch == "transaction" %}active{% endif %}" href="{% url "transaction" %}">Make a
            transaction</a>

        <a class="nav-link right" href="{% url "logout" %}">Log out</a>
    {% else %}
        <a class="nav-link {% if patch == "new_key" %}active{% endif %}" href="#">Create a new key</a>
    {% endif %}
</div>
{% block body %}
{% endblock %}
</body>
</html>
