{% extends 'navbar.html' %}

{% block body %}
    <div class="main">
        <h2>New keys</h2>
        <h3>Your new credentials. If you lose them, you won't be able to use your wallet anymore.</h3>

        {% autoescape on %}
            <table>
                <tbody>
                <tr>
                    <th>Private key</th>
                    <td>{{ private_key | linebreaksbr }}</td>
                </tr>

                <tr>
                    <th>Public key</th>
                    <td>{{ public_key | linebreaksbr }}</td>
                </tr>
                </tbody>
            </table>
        {% endautoescape %}
    </div>
{% endblock %}
