{% extends 'navbar.html' %}

{% block body %}
    <div class="main">
        <h2>New keys</h2>
        <h3>Your new credentials. If you lose them, you won't be able to use your wallet anymore.</h3>

        <table>
            <tbody>
                <tr>
                    <th>Private key</th>
                    <td></td>
                </tr>

                <tr>
                    <th>Public key</th>
                    <td></td>
                </tr>
            </tbody>
        </table>
    </div>
{% endblock %}