{% extends 'navbar.html' %}

{% block body %}
    <div class="main-transaction">
        <div class="card">
            <form action="{{ request.path }}send" method="post">
                {% csrf_token %}
                {{ transaction_form.as_table }}
                <input type="submit" value="Make transaction"/>
            </form>
            {% if send %}Transaction send !{{ results }}{% endif %}
        </div>
        <div class="tiers">
            <form action="{{ request.path }}payment" method="post">
                {% csrf_token %}
                {{ bank_form.as_table }}
                <input type="submit" value="Make transaction"/>
            </form>
            {% if send %}Transaction send !{{ results }}{% endif %}
        </div>
    </div>
{% endblock %}
