{% extends 'navbar.html' %}
{% load static %}

{% block head %}
    <link rel='stylesheet' type='text/css' media='screen' href='{% static "logreg.css" %}'>
{% endblock %}

{% block body %}

    <div class="tiers">
        <form id="transactionForm" action="{{ request.path }}send" method="post">
            {% csrf_token %}
            <table>
                {{ transaction_form.as_table }}
            </table>
            <input type="submit" value="Make transaction" onclick="showLoader('transactionForm')"/>
        </form>
        {% if send %}Transaction send !{{ results }}{% endif %}
    </div>
    <div class="card">
        <form id="paymentForm" action="{{ request.path }}payment" method="post">
            {% csrf_token %}
            <table>
                {{ bank_form.as_table }}
            </table>
            <input type="submit" value="Make transaction" onclick="showLoader('paymentForm')"/>
        </form>
        {% if send %}Transaction send !{{ results }}{% endif %}
    </div>
    <script src="{% static "loader.js" %}"></script>
{% endblock %}
