table
{
    margin:auto;
}


td
{
    text-align: left;
    padding: 5%
}

.formulaire
{
    margin: auto;
    margin-top: 5%;
    margin-bottom: 5%;
    text-align: center;
    width: 75%;
    height: 60%;
    background-color:bisque;
    padding: 5%;
    min-width: 275px;
}
