body
{
    background-color: moccasin;
}

.mainTransaction
{
    margin: auto;
    margin-top: 1%;
    min-width: 400px;
    padding: 5%;
    text-align: center;
    width: 50%;
    height: 50%;
    background-color: blanchedalmond;
}


table
{
    margin: auto;
}

td
{
    padding: 5%;
    width: 50%
}
